.activities
    each activity in locals.involvement
        .flex-card.flex-card-activity
            .md-card.activity-card
                .text-box
                    h1= activity.name
                    .roles
                        each role in activity.roles
                            .role= role

                    .section Description
                    p= activity.description

                    .section Site
                    p
                        a(href=activity.site.url)= activity.site.display

                    .section Experience
                    p= activity.experience
