//- includes/repositories.pug
.repositories
  each repo in locals.repos
    .flex-card.flex-card-repo
      .md-card.repo-card
        a(href=locals.github + repo.owner + '/' +repo.repo)
          if repo.owner == locals.me
            h4= repo.repo
          else
            h4= repo.owner + '/' + repo.repo
        if repo.origin
          - var ref = locals.github + repo.origin
          p
            = 'Forked from '
            span
              a(href=ref)= repo.origin
        p= repo.description
        .details
          -var style = "background-color:" + repo.color + ";"
          span(style=style)
          p= repo.language
          if repo.stars > 2
            span= repo.stars + ' stars'
          if repo.forks > 2
            span= repo.forks + ' forks'
